/* 
    Rutul Bharatbhai Tejani
    C0934641
*/

/* Form Styles */
.form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 1px 1px 8px 4px #f0f0f0;
    box-sizing: border-box;
}

.form-container h1 {
    color: #27267d;
}

.form-fieldset {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.form-legend {
    font-weight: bold;
    color: #333;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-input,
.form-select,
.form-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.form-checkbox,
.form-radio {
    width: auto;
    margin-right: 10px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.form-button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

.form-button-reset {
    background-color: #999;
}

.form-button:hover {
    opacity: 0.8;
}