/* 
    Rutul Bharatbhai Tejani
    C0934641
    */

/* style for special page */
.banner {
    width: 100%;
    background-color: #27267d;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.content {
    padding: 20px;
}

.product {
    margin-bottom: 40px;
}

h2 {
    color: #27267d;
    margin-top: 20px;
}

.product img {
    max-width: 100%;
    height: auto;
    opacity: 0.4;
}

.product:hover {
    transform: scale(1.05);
}

.product:hover img {
    opacity: 1;
}

.guarantee p:last-child {
    font-weight: bold;
}


/* Special product css */
.product-container {
    display: flex;
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 8px 4px #f0f0f0;
    padding: 1rem;
    margin-top: 20px;
}

.product-container .product-image {
    flex: 50%;
}

.product-container .product-image img {
    width: 100%;
    height: 100%;
}

.product-container .product-content {
    flex: 50%;
}

.product-container .product-description {
    font-size: 1.5rem;
    font-weight: 600;
}

.product-container .product-features {
    list-style-position: inside;
}

.product-container .product-brand span {
    color: #27267d;
    text-decoration: underline;
}

.product-container .product-features {
    color: #8f8f8f;
}

.special-offers {
    flex-direction: column;
}

.special-offers p {
    font-weight: bold;
}

.reasons {
    flex-direction: column;
}

.reasons ul {
    list-style-position: inside;
}